@use "./mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  @include mixins.flex;
  min-height: 100vh;
  background: lightblue;
}

.wrapper {
  height: 270px;
  width: 400px;
  padding: 25px;
  background: white;
  border-radius: 10px;
}

.cards {
  @include mixins.flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  @include mixins.flex;
  cursor: pointer;
  position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
  height: calc(100% / 3 - 10px);
  width: calc(100% / 4 - 10px);

  &__view {
    @include mixins.flex;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    position: absolute;
    background: white;
    border-radius: 7px;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.1);
    backface-visibility: hidden;
    transition: transform 0.25s linear;

    &--front {
      .card:hover & {
        transform: rotateY(180deg);
      }
    }

    &--back {
      transform: rotateY(-180deg);
      .card:hover & {
        transform: rotateY(0deg);
      }
    }
  }

  &__image {
    max-width: 45px;
  }
}

.material-icons {
  color: cornflowerblue;
}
